<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>HurtGoblins</string>
	<key>ordering</key>
	<array/>
	<key>uuid</key>
	<string>D574317A-2653-4F20-BC42-2F5F7D46AC5C</string>
</dict>
</plist>
